Body {
    background-color:grey;
    color: white;
}

.card-text {

    color: black;
}

.card-title {
    
    font-weight: bold;
    color: black;
}


.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    
}

.navbar-brand {
    
    background-color: teal;
    padding: 20px;
    font-weight: bold;
    font-size: 35px;
    color:rgb(73, 70, 70);
}
